<header class="flex justify-between py-4">
    <div>
        <a href="/">
            <h1 class="text-blue-500">File<span>Uploader</span></h1>
        </a>
    </div>
    <% if (!currentUser) { %>
        <div>
            <a href="/log-in"><button class="log-in-button">Log in</button></a>
            <a href="/sign-up"><button class="sign-up-button">Sign up</button></a>
        </div>
    <% } else { %>    
        <div>
            <div class="dropdown">
                <button class="username-button">                                 
                    <%= currentUser.username %>                                
                </button>            
                <div class="dropdown-content hidden">
                    <a href="/">Home</a>                    
                    <a href="/log-out">Log out</a>
                </div>
            </div>           
        </div>
    <% } %>
</header>