<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/output.css" rel="stylesheet">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">    
    <title>Home</title>
</head>
<body class="flex flex-col min-h-svh bg-gray-900 px-8">
    <%- include("partials/header") %>
    <main class="grow grid">
        <div class="grid justify-center content-start pt-20">        
            <ul class="error-message mb-8">
                <% errors.forEach((error) => { %>
                    <li class="text-gray-300 text-xl"><%= error.msg %></li>
                <% }) %>
            </ul>
            <a href="<%= currentUser ? '/storage' : '/' %>" class="text-gray-400 self-start text-center
                                        hover:text-gray-100">
                Go back to home page
            </a>
        </div>        
    </main>    
    <%- include("partials/footer") %>    
</body>
</html>