<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/output.css" rel="stylesheet">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">   
    <script defer src="/script/sidebar.js"></script>
    <script defer src="/script/sharedFolder.js"></script>    
    <title>My Storage</title>
</head>
<body class="flex flex-col min-h-svh bg-gray-900 px-8">
    <header class="flex justify-between py-6 align-middle">   
        <a href="/" class="flex items-end">
            <div class="mr-4">
                <img src="/images/logo.svg" class="w-10"/>
            </div>
            <h1 class="text-white mr-4 font-bold text-xl">File<span class="text-gray-400">Uploader</span></h1>
        </a>    
    </header>    
    <main class="grow flex flex-col 
                      md:grid 
                      md:grid-cols-[360px_1fr] 
                      md:grid-rows-[auto_1fr]"
    >      
        <h1 class="flex col-span-2 align-middle text-cyan-600 text-xl  mt-4 mb-8">Shared folder</h1>        
        <%- include("partials/sidebar") %>
        <div class="grow flex flex-col">                           
            <%- include("partials/folders_and_files_display") %>
        </div>              
        <%- include("partials/file_details") %>           
    </main>
    <%- include("partials/footer") %>    
</body>
</html>