<div class="flex-1 bg-gray-900 p-4 border-t border-gray-700">    
    <% if (locals.folder) { 
        folder.childFolders.forEach((folder) => { %>
            <div class="flex items-center justify-between mb-2">           
                <a 
                    href="/storage/<%= folder.id %>" 
                    class="relative cursor-pointer flex items-center w-full h-16 text-white pl-4
                          hover:bg-gray-800"
                >
                    <div class="mr-3">
                        <img src="/images/folder.svg" class="w-11"/>
                    </div>                
                    <div class="absolute left-18 bottom-3.5">
                        <%= folder.name %>
                    </div>                                
                </a>
                <div class="hover:bg-gray-800">
                    <img src="/images/options.svg" class="cursor-pointer p-2 w-11"/>
                </div>
                <div class="hidden">                
                    <button class="mr-4 text-gray-400">Rename</button>
                    <button class="text-red-400">Delete</button>
                </div>
            </div>  
    <% })} %>
    <% if (locals.folder) { 
        folder.files.forEach((file) => { %>
            <div class="flex items-center justify-between mb-4">           
                <a 
                    href="/storage/<%= folder.id %>" 
                    class="relative cursor-pointer flex items-center w-full h-16 text-white pl-4
                          hover:bg-gray-700"
                >
                    <div class="mr-3">
                        <img src="/images/file.svg" class="w-8"/>
                    </div>                
                    <div class="absolute left-15 bottom-2">
                        <%= file.name %>
                    </div>                                
                </a>
                <div>
                    <img src="/images/options.svg" class="cursor-pointer p-2 w-11"/>
                </div>
                <div class="hidden">                
                    <button class="mr-4 text-gray-400">Rename</button>
                    <button class="text-red-400">Delete</button>
                </div>
            </div>  
    <% })} %>     
</div>