<header class="flex justify-between py-6 align-middle">   
    <a href="/" class="flex items-end">
        <div class="mr-4">
            <img src="/images/logo.svg" class="w-10"/>
        </div>
        <h1 class="text-white mr-4 font-bold text-xl">File<span class="text-gray-400">Uploader</span></h1>
    </a>    
    <% if (!currentUser) { %>
        <div class="flex items-center">
            <a href="/auth/log-in">
                <button class="cursor-pointer mr-2 px-2 md:px-4 rounded-xs text-gray-300 shadow-lg border border-gray-600 hover:border-gray-700 transition">
                    Log in
                </button>
            </a>
            <a href="/auth/sign-up">
                <button class="cursor-pointer px-2 md:px-4 border border-gray-700 rounded-xs bg-gray-700 text-gray-300 shadow-lg hover:bg-gray-800 transition">
                    Sign up
                </button>
            </a>
        </div>
    <% } else { %>                                       
        <a href="/auth/log-out" class="flex items-center">
            <button class=" cursor-pointer px-4 rounded-xs text-gray-300 shadow-lg border border-gray-500 hover:border-gray-600 transition">
                Log out
            </button>
        </a>       
    <% } %>
</header>