<div 
    id="shareFolderModal"     
    class="fixed inset-0 bg-black/50 items-center justify-center hidden opacity-0 transition-opacity duration-200"
>  
    <form class="share-folder-form flex w-100 flex-col rounded-xs border p-4 bg-gray-800 shadow-xl"
    >
        <div class="flex items-center justify-between mb-6">                  
            <h2 class="text-xl font-bold text-white">Share folder</h2>
            <button                 
                type="button"
                aria-label="Close modal" 
                class="close-share-folder-modal-button cursor-pointer p-1 inline-flex items-center justify-center text-gray-400 
                        hover:text-white"
            >
                <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true" focusable="false">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                </svg>
            </button>
        </div>        
        <p class="text-gray-300 mb-4">
            Generate a public link to share the folder?
        </p>       
        <div class="flex gap-2">
            <div class="share-duration-div mb-4"
            >
                <input 
                    type="radio" 
                    id="oneHour" 
                    name="shareDuration" 
                    value="1"
                    class="hidden peer" 
                    checked
                >
                <label 
                    for="oneHour"
                    class="share-duration-label block cursor-pointer py-1 px-4 text-gray-300 rounded-xs shadow-lg border border-gray-400 transition
                         hover:border-gray-500
                         peer-checked:bg-gray-400
                         peer-checked:text-black
                         peer-checked:hover:bg-gray-500"
                >
                    1 hour
                </label>
            </div>                
            <div class="share-duration-div"
            >
                <input 
                    type="radio" 
                    id="twelveHours" 
                    name="shareDuration" 
                    value="12"
                    class="hidden peer"
                >
                <label 
                    for="twelveHours"
                    class="share-duration-label block cursor-pointer py-1 px-4 text-gray-300 rounded-xs shadow-lg border border-gray-400 transition
                         hover:border-gray-500
                         peer-checked:bg-gray-400
                         peer-checked:text-black
                         peer-checked:hover:bg-gray-500"
                >
                    12 hours
                </label>
            </div>                
            <div class="share-duration-div"
            >
                <input 
                    type="radio" 
                    id="oneDay" 
                    name="shareDuration" 
                    value="24"
                    class="hidden peer"
                >
                <label 
                    for="oneDay"
                    class="share-duration-label block cursor-pointer py-1 px-4 text-gray-300 rounded-xs shadow-lg border border-gray-400 transition
                         hover:border-gray-500
                         peer-checked:bg-gray-400
                         peer-checked:text-black
                         peer-checked:hover:bg-gray-500"
                >
                   1 day
                </label>
            </div>
             <div class="share-duration-div"
             >
                <input 
                    type="radio" 
                    id="oneWeek" 
                    name="shareDuration" 
                    value="168"
                    class="hidden peer"
                >
                <label 
                    for="oneWeek"
                    class="share-duration-label block cursor-pointer py-1 px-4 text-gray-300 rounded-xs shadow-lg border border-gray-400 transition
                         hover:border-gray-500
                         peer-checked:bg-gray-400
                         peer-checked:text-black
                         peer-checked:hover:bg-gray-500"
                >
                    1 week
                </label>
            </div>
        </div>     
        <div class="shared-link-container"></div>        
        <div class="flex justify-end gap-4 mt-4">           
            <button 
                type="button" 
                class="close-share-folder-modal-button cursor-pointer py-1 px-4 rounded-xs text-white shadow-lg border border-gray-400 transition
                     hover:border-gray-500"
            >
                Close
            </button>                      
            <button
                type="button"
                id="generateLinkButton" 
                class="cursor-pointer py-1 px-4 rounded-xs text-white shadow-lg border border-cyan-700 bg-cyan-700 transition
                     hover:bg-cyan-800 "
             >
                Generate
            </button>
        </div>
    </form>  
</div>
